default/FactOrderItems.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1772839180759,
    "description" : "",
    "identifier" : "FactOrderItems",
    "lastModifiedTimestamp" : 1772839180759,
    "name" : "FactOrderItems",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "0b03b12f-9b60-3cc7-ab1f-a783a3ac3f57",
        "name" : "PutSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0515ed26-eaac-38ad-b5ad-8053c06dcb1c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e598aa7f-b232-39eb-9307-4527ebcd6c68",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 17
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "547307c7-baac-3899-b5d9-f94f66a3e3a6",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "06f18410-6830-373f-8535-b78cdb7f599c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c5067f59-019c-1000-8d9e-418a3959ba4d",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 14
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c5067f5a-019c-1000-9819-937def441834",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "547fca62-69be-37b9-b5ad-d3f10cef8d50",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "d172064f-4174-3183-945f-d27a426d7b36",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 4
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c509d457-019c-1000-788e-d6a70dae9c9a",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "771b6534-4d2b-36be-8bf2-5ffbb64dce01",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2a11ec9a-a085-3839-b7d5-db0a62a55bc5",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 9
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cd4bfe27-f0b4-3461-b530-8fd8548b2b0c",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7aad7a5a-ea13-3732-854b-f7c661acedfa",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "empty" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e598aa7f-b232-39eb-9307-4527ebcd6c68",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 18
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4e2a8e7c-9c4e-30b4-b683-3daccfb4b0b8",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "95bd2a74-0353-3254-8728-44b93b56f7b6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c915d2ee-019c-1000-fbc6-54b5b2eeba8e",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 11
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c5067f59-019c-1000-8d9e-418a3959ba4d",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c5067f5b-019c-1000-d2fc-969f4d481800",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c5067f58-019c-1000-0794-fe9235a790cd",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c5067f58-019c-1000-0794-fe9235a790cd",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c5067f5c-019c-1000-222d-2b64d12207e0",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c5067f5a-019c-1000-9819-937def441834",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "e598aa7f-b232-39eb-9307-4527ebcd6c68",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "de136b08-7ea0-3d57-85f8-b3dd771d315f",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "4e2a8e7c-9c4e-30b4-b683-3daccfb4b0b8",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 16
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c915d2ee-019c-1000-fbc6-54b5b2eeba8e",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f52637ec-9137-3d61-a908-c8d1b9248799",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c509d457-019c-1000-788e-d6a70dae9c9a",
        "name" : "ExecuteSQL",
        "type" : "PROCESSOR"
      },
      "zIndex" : 10
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2a11ec9a-a085-3839-b7d5-db0a62a55bc5",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "fe9a6f99-0565-3339-8f78-ace92aeacb16",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "547307c7-baac-3899-b5d9-f94f66a3e3a6",
        "name" : "RouteOnAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 19
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "FactOrderItem",
    "outputPorts" : [ ],
    "parameterContextName" : "Global",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "failure", "retry", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "0b03b12f-9b60-3cc7-ab1f-a783a3ac3f57",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -184.0,
        "y" : 2568.0
      },
      "properties" : {
        "SQL Statement" : "INSERT INTO FACT_ORDER_ITEM (\n    CUSTOMER_SK,\n    ORDER_SK,\n    PRODUCT_SK,\n    SELLER_SK,\n    ORDER_ITEM_ID,\n    PRICE,\n    PRICE_BUCKET,\n    FREIGHT_VALUE,\n    ITEM_TOTAL_VALUE,\n    IS_WEEKEND_PURCHASE,\n    IS_LATE_DELIVERY\n) VALUES (${CustomerSK}, ${OrderSK}, ${ProductSK}, ${SellerSK}, ${OrderItemID}, ${Price}, '${PriceBucket}', ${FreightValue}, ${TotalValue}, ${IsWeekendPurchase:ifElse('1', '0')}, ${IsLateDelivery:ifElse('1', '0')})",
        "Support Fragmented Transactions" : "false",
        "Database Session AutoCommit" : "false",
        "Batch Size" : "100",
        "Obtain Generated Keys" : "false",
        "Rollback On Failure" : "false",
        "JDBC Connection Pool" : "#{OracleConnection}"
      },
      "propertyDescriptors" : {
        "SQL Statement" : {
          "displayName" : "SQL Statement",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Statement",
          "sensitive" : false
        },
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "Database Session AutoCommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Session AutoCommit",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "Rollback On Failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Rollback On Failure",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2a11ec9a-a085-3839-b7d5-db0a62a55bc5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -184.0,
        "y" : 1512.0
      },
      "properties" : {
        "IsLateDelivery" : "${ActualDeliveryDate:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):toNumber():gt(${EstimatedDeliveryDate:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):toNumber()})}",
        "TotalValue" : "${Price:toNumber():plus(${FreightValue:toNumber()})}",
        "Store State" : "Do not store state",
        "PriceBucket" : "${Price:toNumber():lt(20):ifElse('0-19',\n ${Price:toNumber():lt(100):ifElse('20-99',\n  ${Price:toNumber():lt(500):ifElse('100-499','500+')}\n )}\n)}",
        "Cache Value Lookup Cache Size" : "100",
        "IsWeekendPurchase" : "${PurchaseTimestamp:toDate(\"yyyy-MM-dd HH:mm:ss.S\"):format(\"EEEE\"):matches(\"Saturday|Sunday\")}"
      },
      "propertyDescriptors" : {
        "IsLateDelivery" : {
          "displayName" : "IsLateDelivery",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsLateDelivery",
          "sensitive" : false
        },
        "TotalValue" : {
          "displayName" : "TotalValue",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "TotalValue",
          "sensitive" : false
        },
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "PriceBucket" : {
          "displayName" : "PriceBucket",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "PriceBucket",
          "sensitive" : false
        },
        "Cache Value Lookup Cache Size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cache Value Lookup Cache Size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        },
        "IsWeekendPurchase" : {
          "displayName" : "IsWeekendPurchase",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "IsWeekendPurchase",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4e2a8e7c-9c4e-30b4-b683-3daccfb4b0b8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -176.0,
        "y" : 2168.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "OrderSK" : "$[0].ORDER_SK",
        "CustomerSK" : "$[0].CUSTOMER_SK",
        "SellerSK" : "$[0].SELLER_SK",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "ProductSK" : "$[0].PRODUCT_SK",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "OrderSK" : {
          "displayName" : "OrderSK",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "OrderSK",
          "sensitive" : false
        },
        "CustomerSK" : {
          "displayName" : "CustomerSK",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CustomerSK",
          "sensitive" : false
        },
        "SellerSK" : {
          "displayName" : "SellerSK",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SellerSK",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "ProductSK" : {
          "displayName" : "ProductSK",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "ProductSK",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "matched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "547307c7-baac-3899-b5d9-f94f66a3e3a6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -184.0,
        "y" : 1280.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "matched" : "${ActualDeliveryDate:isEmpty()}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "matched" : {
          "displayName" : "matched",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "matched",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "original" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c5067f58-019c-1000-0794-fe9235a790cd",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -192.0,
        "y" : 824.0
      },
      "properties" : {
        "Max String Length" : "20 MB",
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c5067f59-019c-1000-8d9e-418a3959ba4d",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -192.0,
        "y" : 1056.0
      },
      "properties" : {
        "PurchaseTimestamp" : "$.ORDER_PURCHASE_TIMESTAMP",
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "ActualDeliveryDate" : "$.ORDER_DELIVERED_CUSTOMER_DATE",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "ProductID" : "$.PRODUCT_ID",
        "CustomerID" : "$.CUSTOMER_ID",
        "EstimatedDeliveryDate" : "$.ORDER_ESTIMATED_DELIVERY_DATE",
        "OrderID" : "$.ORDER_ID",
        "Path Not Found Behavior" : "ignore",
        "Price" : "$.PRICE",
        "SellerID" : "$.SELLER_ID",
        "FreightValue" : "$.FREIGHT_VALUE",
        "OrderItemID" : "$.ORDER_ITEM_ID"
      },
      "propertyDescriptors" : {
        "PurchaseTimestamp" : {
          "displayName" : "PurchaseTimestamp",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "PurchaseTimestamp",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "ActualDeliveryDate" : {
          "displayName" : "ActualDeliveryDate",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "ActualDeliveryDate",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "ProductID" : {
          "displayName" : "ProductID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "ProductID",
          "sensitive" : false
        },
        "CustomerID" : {
          "displayName" : "CustomerID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "CustomerID",
          "sensitive" : false
        },
        "EstimatedDeliveryDate" : {
          "displayName" : "EstimatedDeliveryDate",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "EstimatedDeliveryDate",
          "sensitive" : false
        },
        "OrderID" : {
          "displayName" : "OrderID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "OrderID",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "Price" : {
          "displayName" : "Price",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Price",
          "sensitive" : false
        },
        "SellerID" : {
          "displayName" : "SellerID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SellerID",
          "sensitive" : false
        },
        "FreightValue" : {
          "displayName" : "FreightValue",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "FreightValue",
          "sensitive" : false
        },
        "OrderItemID" : {
          "displayName" : "OrderItemID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "OrderItemID",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c5067f5a-019c-1000-9819-937def441834",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -192.0,
        "y" : 608.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "true",
        "Record Writer" : "#{JsonRecordSetWriter}",
        "Record Reader" : "#{AvroReader}"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c509d457-019c-1000-788e-d6a70dae9c9a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -176.0,
        "y" : 1744.0
      },
      "properties" : {
        "Set Auto Commit" : "true",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "SELECT \n    (SELECT p.PRODUCT_SK FROM DIM_PRODUCT p \n    WHERE  p.PRODUCT_ID = '${ProductID}'\n    ) AS PRODUCT_SK,\n\n    (SELECT s.SELLER_SK FROM DIM_SELLER s\n    WHERE  s.SELLER_ID = '${SellerID}'\n    ) AS SELLER_SK,\n\n    (SELECT c.CUSTOMER_SK FROM DIM_CUSTOMER c\n    WHERE  c.CUSTOMER_ID = '${CustomerID}'\n    ) AS CUSTOMER_SK,\n\n    (SELECT o.ORDER_SK FROM DIM_ORDER o\n    WHERE  o.ORDER_ID = '${OrderID}'\n    ) AS ORDER_SK\nFROM DUAL",
        "Database Connection Pooling Service" : "#{OracleConnection}",
        "Default Decimal Scale" : "0",
        "Fetch Size" : "0",
        "Output Batch Size" : "0",
        "Use Avro Logical Types" : "false",
        "Compression Format" : "NONE",
        "Normalize Table and Column Names" : "false",
        "Default Decimal Precision" : "10",
        "Max Rows Per FlowFile" : "0",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "Set Auto Commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set Auto Commit",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Default Decimal Scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Scale",
          "sensitive" : false
        },
        "SQL Post-Query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Post-Query",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "Output Batch Size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Batch Size",
          "sensitive" : false
        },
        "Use Avro Logical Types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Avro Logical Types",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Normalize Table and Column Names" : {
          "displayName" : "Normalize Table and Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Normalize Table and Column Names",
          "sensitive" : false
        },
        "SQL Pre-Query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Pre-Query",
          "sensitive" : false
        },
        "Default Decimal Precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Precision",
          "sensitive" : false
        },
        "Max Rows Per FlowFile" : {
          "displayName" : "Max Rows Per FlowFile",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Rows Per FlowFile",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c915d2ee-019c-1000-fbc6-54b5b2eeba8e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -176.0,
        "y" : 1960.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "true",
        "Record Writer" : "#{JsonRecordSetWriter}",
        "Record Reader" : "#{AvroReader}"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cd4bfe27-f0b4-3461-b530-8fd8548b2b0c",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 448.0,
        "y" : 2368.0
      },
      "properties" : {
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false",
        "Character Set" : "UTF-8",
        "Attributes to Log Regular Expression" : ".*"
      },
      "propertyDescriptors" : {
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "Attributes to Ignore Regular Expression" : {
          "displayName" : "Attributes to Ignore Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore Regular Expression",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        },
        "Log Prefix" : {
          "displayName" : "Log Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Prefix",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Attributes to Log Regular Expression" : {
          "displayName" : "Attributes to Log Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log Regular Expression",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d172064f-4174-3183-945f-d27a426d7b36",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteSQL",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -192.0,
        "y" : 392.0
      },
      "properties" : {
        "Set Auto Commit" : "true",
        "Max Wait Time" : "0 seconds",
        "SQL Query" : "SELECT oi.ORDER_ID,\noi.PRODUCT_ID,\noi.SELLER_ID,\noi.ORDER_ITEM_ID,\no.CUSTOMER_ID,\noi.PRICE,\noi.FREIGHT_VALUE,\no.ORDER_PURCHASE_TIMESTAMP,\no.ORDER_ESTIMATED_DELIVERY_DATE,\no.ORDER_DELIVERED_CUSTOMER_DATE\nFROM ORDER_ITEMS oi\nINNER JOIN ORDERS o ON oi.ORDER_ID = o.ORDER_ID",
        "Database Connection Pooling Service" : "#{SourceOracleConnection}",
        "Default Decimal Scale" : "0",
        "Fetch Size" : "0",
        "Output Batch Size" : "0",
        "Use Avro Logical Types" : "false",
        "Compression Format" : "NONE",
        "Normalize Table and Column Names" : "false",
        "Default Decimal Precision" : "10",
        "Max Rows Per FlowFile" : "0",
        "Content Output Strategy" : "EMPTY"
      },
      "propertyDescriptors" : {
        "Set Auto Commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set Auto Commit",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Default Decimal Scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Scale",
          "sensitive" : false
        },
        "SQL Post-Query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Post-Query",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "Output Batch Size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Batch Size",
          "sensitive" : false
        },
        "Use Avro Logical Types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Avro Logical Types",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Normalize Table and Column Names" : {
          "displayName" : "Normalize Table and Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Normalize Table and Column Names",
          "sensitive" : false
        },
        "SQL Pre-Query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Pre-Query",
          "sensitive" : false
        },
        "Default Decimal Precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Precision",
          "sensitive" : false
        },
        "Max Rows Per FlowFile" : {
          "displayName" : "Max Rows Per FlowFile",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Rows Per FlowFile",
          "sensitive" : false
        },
        "Content Output Strategy" : {
          "displayName" : "Content Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.8.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e598aa7f-b232-39eb-9307-4527ebcd6c68",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -176.0,
        "y" : 2368.0
      },
      "properties" : {
        "Routing Strategy" : "Route to Property name",
        "empty" : "${CustomerSK:isEmpty():or(\n${OrderSK:isEmpty()}):or(\n${ProductSK:isEmpty()}):or(\n${SellerSK:isEmpty()}):or(\n${OrderItemID:isEmpty()}):or(\n${Price:isEmpty()}):or(\n${PriceBucket:isEmpty()}):or(\n${FreightValue:isEmpty()}):or(\n${TotalValue:isEmpty()}):or(\n${IsWeekendPurchase:isEmpty()}):or(\n${IsLateDelivery:isEmpty()}\n)}"
      },
      "propertyDescriptors" : {
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        },
        "empty" : {
          "displayName" : "empty",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "empty",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Global" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "",
      "inheritedParameterContexts" : [ ],
      "name" : "Global",
      "parameters" : [ {
        "description" : "",
        "name" : "AvroReader",
        "provided" : false,
        "sensitive" : false,
        "value" : "d2de2f55-68b2-34f6-b771-0599d51cfbdc"
      }, {
        "description" : "",
        "name" : "CSVReader",
        "provided" : false,
        "sensitive" : false,
        "value" : "d94eb79c-44fc-390e-9e9c-67e12a4e5f4a"
      }, {
        "description" : "",
        "name" : "JsonRecordSetWriter",
        "provided" : false,
        "sensitive" : false,
        "value" : "f822a14f-06b4-3560-9764-dae39550ad33"
      }, {
        "description" : "",
        "name" : "OracleConnection",
        "provided" : false,
        "sensitive" : false,
        "value" : "0d8e570a-16ee-394a-8a89-05226a3080bd"
      }, {
        "description" : "",
        "name" : "SourceOracleConnection",
        "provided" : false,
        "sensitive" : false,
        "value" : "1679376a-7540-3b1f-97ad-b94886e2532b"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "FactOrderItems",
    "timestamp" : 1772998936364
  }
}